//TRANSITION
$transition-speed-slow: 0.4s;
$transition-speed-normal: 0.25s;
$transition-speed-fast: 0.15s;

//COLORS
$black: #000;
$white: #FFF;
$blue-dark: #1428A0;
$blue-dark-hover: #102080;
$blue-dark-pressed: #0E1C71;
$blue: #0077C8;
$blue-hover: #0068AF;
$blue-pressed: #005E9D;
$blue-light: #00B3E3;
$green: #97D653;
$green-light: #CEDE00;
$red: #FF4337;
$orange: #FF7F3F;
$orange-light: #FFB546;
$yellow: #F8E946;
$yellow-hover: #EEDC19;
$yellow-pressed: #E2D004;
$aqua: #00C3B2;
$pink: #D939B2;

//COLORS-TEXT
$text-black: $black;
$text-grey: #999;
$text-white: $white;
$text-disabled: #CBCBCB;
$text-error: $red;

//COLORS-DIVIDER
$divider-grey: #E5E5E5;

//COLORS-BORDER
$border-grey: #CCC;
$border-black: $black;
$border-white: $white;
$border-hover: #999;
$border-active: $blue-light;
$border-error: $red;

//COLORS-BACKGROUND
$bg-white: $white;
$bg-black: $black;
$bg-blue-dark: $blue-dark;
$bg-grey: #F2F2F2;
$bg-grey-light: #F7F7F7;
$bg-popup: rgba($black, 0.2);

//COLORS-ELEMENT
$el-bg-grey: #F2F2F2;
$el-bg-hover: #E5E5E5;
$el-bg-pressed: #D9D9D9;
$el-bg-disabled: #F2F2F2;


// MEDIA
$media-xs: 360px;
$media-xs-max: 767px;
$media-sm: 768px;
$media-sm-max: 979px;
$media-md: 980px;
$media-md-max: 1279px;
$media-lg: 1280px;
$media-lg-max: 1599px;
$media-xl: 1600px;
